<html>
    <head>
        <title>Texter programm</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Тут что-то интересное</a></h1>
        </div>
		
		{% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
		
    </body>
</html>

<!-- |linebreaksbr прогоняет текст через фильтр для преобразования переносов строк в параграфы -->